<h1>Ajouter un utilisateur</h1>

<form #userDetailsForm="ngForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
  <input type="text" id="prenom" name="prenom" class="form-text text-muted" placeholder="Prénom" ngModel required>
  <input type="text" id="nom" name="nom" class="form-text text-muted" placeholder="Nom" ngModel required>

  <button class="btn btn-primary" type="submit" [disabled]="!userDetailsForm.valid">Submit</button>
</form>
