<h1>Liste des users</h1>

<p *ngIf="!users"><em>Loading...</em></p>

<table class='table' *ngIf="users">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.prenom }}</td>
      <td>{{ user.nom }}</td>
      <td>
        <button class="btn btn-danger" type="button" (click)="deleteUserById(user.id);" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<app-add-user  (someEvent)="getListUsers();"></app-add-user>
